langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain_groq
langchain_ollama
langchain-groq
pypdf
ipykernel
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
arxiv
wikipedia
validators
youtube-transcript-api
unstructured
moviepy
yt-dlp
whisper
huggingface_hub
streamlit
python-dotenv
langchain
langchain-openai
langchain-groq
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
chromadb
openai
pysqlite3-binary
streamlit-oauth>=0.2.0

