# Base
streamlit==1.47.0
python-dotenv==1.0.1

# LangChain modular ecosystem
langchain==0.2.0
langchain-community==0.2.0
langchain-core==0.2.0
langchain-openai==0.1.7
langchain-groq==0.1.2
langchain-huggingface==0.1.0
langchain-chroma==0.1.4

# Embedding Models & Dependencies
sentence-transformers==2.7.0
transformers==4.41.1
torch==2.2.2

# SQLite (optional, if using SQLite with LangChain)
pysqlite3-binary==0.5.2
