# Core App
streamlit
python-dotenv

# LangChain Core
langchain
langchain-openai
langchain-groq
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters

# Embeddings & Vector Store
sentence-transformers
chromadb
faiss-cpu

# PDF & Data Handling
pypdf
pymupdf
pandas
duckdb
moviepy

# DB & ORM
pysqlite3-binary
mysql-connector-python
SQLAlchemy

# Search & Crawling
bs4
duckduckgo-search
wikipedia
arxiv
validators==0.28.1

# YouTube & Media
youtube_transcript_api
yt-dlp
pytube
whisper

# OAuth
streamlit-oauth==0.1.4

# Huggingface
huggingface_hub

# File parsing
unstructured
